<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="active ">
            <a href="@Url.Action("Index","Home")">
                <i class="nc-icon nc-bank"></i>
                <p>Trang chủ</p>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","DanhMuc")">
                <i class="fa fa-th-list fa-fw"></i>
                <p>Danh Mục</p>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","Loai")">
                <i class="fa fa-tasks fa-fw"></i>
                <p>Loại Sản Phẩm</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-th-large fa-fw"></i>
                <p>Sản Phẩm</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-glass fa-fw"></i>
                <p>Nhà Sản Xuất</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-users fa-fw"></i>
                <p>Thông Tin Khách Hàng</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-edit fa-fw"></i>
                <p>Đơn Hàng</p>
            </a>
        </li>
    </ul>
</div>
