@model List<Models.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    @{ Html.RenderAction("DanhMuc", "Danhmuc");}
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">                    
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="@Url.Action("Detail","SanPham", new { id=item.IDsanpham})">@item.TenSanPham</a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="product-detail.html">
                                        <img src="@item.HinhAnh" alt="Product Image">
                                    </a>
                                    <div class="product-action">
                                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <h3 style="font-size: 18px;">@item.Gia.000 VND</h3>
                                    <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Thêm</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!-- Pagination Start -->
                <div class="col-md-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                    @*@if(ViewBag.TotalPage > 1)
                    {
                        var pageDisplay = (int)ViewBag.MaxPage;
                        int totalPage = (int)ViewBag.TotalPage;
                        int currentPage = (int)ViewBag.Page;
                    }*@
                </div>
                <!-- Pagination Start -->
            </div>
        </div>
    </div>
</div>

